# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# Database
db.sqlite3
staticfiles
media/

# Local data files
members.xlsx

# VS Code
.vscode/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

